

header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}
/* 
Login Button Spacing */
 header nav li:last-child {
  margin-left: -5px;
}  


header nav li:last-child {
  margin-left: -5px;
} 




