/* Jobs */
:root {
  --primary-color: #2E9CCA;
  --primary-hover-color: #c2d3d8;
  --bg-color: rgb(109, 105, 105);
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}
.job {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
}

.job ul {
  list-style: none;
  display: flex;
}

.job li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}
.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}